/**
 * Colors
 */
$grey_26: #262626;
$grey_33: #333333;
$grey_5c: #5c5c5c;
$grey_66: #666666;
$grey_7a: #7A7A7A;
$grey_94: #949494;
$grey_99: #999999;
$grey_a8: #A8A8A8;
$grey_b3: #B3B3B3;
$grey_bb: #bbbbbb;
$grey_bf: #BFBFBF;
$grey_cc: #cccccc;
$grey_de: #DEDEDE;
$grey_ed: #EDEDED;
$grey_e8: #E8E8E8;
$grey_fa: #fafafa;
$grey_fc: #FCFCFC;
$grey_f5: #F5F5F5;


$purewhite: #ffffff;
$pureblack: #000000;
$turquoiseblue: #0b9b96;
$azulgreen: #52C8B8;
$darkgreen : #4AAA9D;
$deletered: #C75850;
$submagreen: #475259;
$greygreen: #636E75;
$almondgreen: #42b07d;

/**
 * Size
 */
$width_min_screen: 750px;
$main_margin: 5%;
$topbar_height: 40px;
$margin_normal: 20px;
