.ct-underline {
    position: relative;
    top: -2px;
    text-decoration: underline;
}

/**
 * Common.Content
 */
.ct-media_image, .ct-media_video {
  position: relative;
  width: 148px;
  height: 149px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 25%;
}

.ct-theme_suggestion {
  width: 170px;
  height: 170px;
  margin: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;

  > .ct-media_image {
    position: relative;
    width: 100%;
    height: 100%;

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      content: "";
      background-color: rgba(0,0,0,0.6);
    }
  }

  > .ct-theme_suggestion_title {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 70px;
    color: $purewhite;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }

  > .ct-delete_suggestion {
    position: absolute;
    top: 9px;
    right: 11px;
    width: 13px;
    height: 13px;
    line-height: 12px;
    text-align: center;
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
    opacity: 0.3;
    color: $purewhite;
  }

  &:hover {
    > .ct-delete_suggestion {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.ct-image-container {
    overflow: hidden;
}
.ct-image-resize {
  position: relative;
}
